@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --main-color: #3B83BD;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --color-blue: #C3E3FD;
    --color-hover: #C9E9FC;
}