.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
    width: 500px;
    max-width:  100%;
    margin: auto;
    border: 2px solid #ccc;
}

.form-ubicacion{
    align-content: center;
}

.form {
	padding: 30px 40px;	
    width: 100%;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid var(--color-hover);
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: var(--main-color);
}

.form button {
	background-color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 50%;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
	.container{
        width: 400px;
        max-width:  100%;
    }
}

@media screen and (max-width: 992px) {
	.container{
        width: 400px;
        max-width:  100%;
    }
}

@media screen and (max-width: 768px) {
	.container{
        width: 400px;
    }
}

@media screen and (max-width: 576px) {
	.container{
        width: 100%;
    }
}